html, body {
    margin: 0;
    background: white;
}

.section {
    max-width: 850px;
    margin: 0 auto;
}

img {
    max-width: 100%
}

.full-size-image {
    padding: 15em 0;
    background-size: cover;
}

.plot-holder {
    margin-bottom: 2em;
}

.plot-holder .caption {
    color: #333;
    text-align: center;
    font-size: 1em;
    font-style: italic;
}

.plot-holder h3 {
    font-size: 1.5em;
}

.plot-holder .subtitle {
    font-weight: bold;
}

.content h1 {
    font-size: 2.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#scrolly {
    position: relative; /*take this as reference point for position absolute*/
    height: 300px;
    overflow-y:scroll;
    margin:5rem 0;
  }

  .scrolly-overlay {
    position: absolute;
    right: 1rem;
    padding: 0;
    max-width: 15rem;
    
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 0;
    top: 0;
    height: 300px;

    /* Center everything inside */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ai2html *:hover {
    fill: rgb(229, 233, 15);
  }

  .step {
    margin: 0 auto 2rem auto;
    margin-bottom: 25rem; /*adjusted*/
    background-color: #eee;

    color: black;
  }

  .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1rem !important;
    text-align: left;
  }

  .hidden {
    visibility: hidden;
  }
  #scrolly.side-by-side {
      display: flex;
    }

    #scrolly.side-by-side > div {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.75em;
    }

    #scrolly.side-by-side .scrolly-overlay {
      margin-top: 70vh;
      order: 0;
      /* Change these to adjust sizing options */
      min-width: 15rem;
      max-width: 20rem;
    }

    #scrolly.side-by-side .sticky-thing {
      order: 1;
      flex-grow: 2;
    }

  @media (max-width: 800px) {
    .text-container {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  /* Set something to be a certain percent of the page's height (in this case, 75%) */
  .full-bleed-image {
    padding: 2em;
    min-height: 75vh;
    align-items: center;
  }

  .story-body {
    margin: 0 auto;
    max-width: 8000px;
  }

  #scrolly.side-by-side > div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75em;
  }

  #scrolly.side-by-side .scrolly-overlay {
    margin-top: 70vh;
    order: 0;
    /* Change these to adjust sizing options */
    min-width: 10rem;
    max-width: 20rem;
  }

  #scrolly.side-by-side .sticky-thing {
    order: 1;
    flex-grow: 2;
  }

  .content {
    text-align: left;
    margin: 0 2.5rem 1rem 2.5rem; /*top right bottom left*/
  }

  .content h1 {
    font-size: 2.5rem;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    text-align: center;
  }

  .content byline {
    font-size: 1.2rem;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    font-style: italic;
    text-align: left;
  }

  .content p {
    font-size: 1.2rem;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    text-align: left;
    margin-bottom: 0.5em;
  }

  .content h6 {
    font-weight: normal;
    font-size: 1rem;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    text-align: left;
    font-style: italic;
  }

