* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: white;
  font-family: "Playfair Display", serif; /*serif font*/
  font-size: 1rem;
  color: #4a4a4a;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 3rem;
}
h2 {
  /*subheader */
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: #716d6d;
}

a {
  color: rgb(73, 124, 169);
}

a:hover {
  color: #903;
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 3rem;
  line-height: 2.5rem;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.deck {
  font-family: "Lato", sans-serif; /*sans-serif font*/
  font-size: 1.3rem;
  font-weight: bold;
}

.caption,
.byline {
  font-size: 1rem;
}

.byline {
  font-weight: bold;
}
.caption {
  font-style: italic;
}

.section {
  max-width: 850px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 2rem 0 0;
}

.spacing-400 {
  margin-bottom: 2rem;
}
.spacing-600 {
  margin-bottom: 4rem;
}
.spacing-chart {
  margin: 2rem 0;
}

.full-size-image {
  padding: 15em 0;
  background-size: cover;
}

.plot-holder {
  margin-bottom: 2em;
}

.plot-holder .caption {
  color: #333;
  text-align: center;
  font-size: 1em;
  font-style: italic;
}

.plot-holder h3 {
  font-size: 1.5em;
}

.plot-holder .subtitle {
  font-weight: bold;
}

.content h1 {
  font-size: 2.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#scrolly {
  position: relative; /*take this as reference point for position absolute*/
  height: 300px;
  overflow-y: scroll;
  margin: 5rem 0;
}

.scrolly-overlay {
  position: absolute;
  right: 1rem;
  padding: 0;
  max-width: 15rem;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 0;
  height: 300px;

  /* Center everything inside */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ai2html *:hover {
  fill: rgb(229, 233, 15);
}

.step {
  margin: 0 auto 2rem auto;
  margin-bottom: 25rem; /*adjusted*/
  background-color: #eee;

  color: black;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1rem !important;
  text-align: left;
}

.hidden {
  visibility: hidden;
}


@media (max-width: 800px) {
  .text-container {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* Set something to be a certain percent of the page's height (in this case, 75%) */
.full-bleed-image {
  padding: 2em;
  min-height: 75vh;
  align-items: center;
}

.story-body {
  margin: 0 auto;
  max-width: 8000px;
}

#scrolly.side-by-side > div {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75em;
}

#scrolly.side-by-side .scrolly-overlay {
  margin-top: 70vh;
  order: 0;
  /* Change these to adjust sizing options */
  min-width: 10rem;
  max-width: 20rem;
}

#scrolly.side-by-side .sticky-thing {
  order: 1;
  flex-grow: 2;
}
